#ScrollChat::-webkit-scrollbar {
  width: .5rem;
}

/* Track */
#ScrollChat::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
#ScrollChat::-webkit-scrollbar-thumb {
  background: #665dfe;
  border-radius: 10px;
}

/* Handle on hover */
#ScrollChat::-webkit-scrollbar-thumb:hover {
  background: #8c86fc;
}
